@mixin light-theme {
  // Main
  --bg: #fff;
  --text: #111;
  --link: #062;
  --variant: #eee;
  --image-bg: #fffc;
  --filter: blur(10px);

  // Accents
  --primary-bg: #6f8;
  --primary-text: #020;
  --selection-bg: #052;
  --selection-text: #6f8;
}

@mixin dark-theme {
  // Main
  --bg: #111;
  --text: #eee;
  --link: #4e7;
  --variant: #444;
  --image-bg: #111c;
  --filter: blur(10px);

  // Accents
  --primary-bg: #052;
  --primary-text: #6f8;
  --selection-bg: #6f8;
  --selection-text: #020;
}

body {
  @media (prefers-color-scheme: dark) {
    @include dark-theme;

    .moon {
      display: none;
    }

    .sun {
      display: inline-block;
    }
  }

  @media (prefers-color-scheme: light) {
    @include light-theme;

    .sun {
      display: none;
    }
  }

  &.light {
    @include light-theme;

    .moon {
      display: inline-block;
    }

    .sun {
      display: none;
    }
  }

  &.dark {
    @include dark-theme;

    .moon {
      display: none;
    }

    .sun {
      display: inline-block;
    }
  }
}

::selection {
  background-color: var(--selection-bg);
  color: var(--selection-text);
}

::-moz-selection {
  background-color: var(--selection-bg);
  color: var(--selection-text);
}
