---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404" description="404">
    <main>
        <img src="https://http.cat/404">
    </main>
    <style lang="scss">
        main {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</BaseLayout>